.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: grey;
}

#drum-machine {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  gap: 20px;
  background-color: tan;
  width: 690px; 
  height: 400px;
}

#display {
  grid-column: 1/4;
  text-align: center;
  height: 50px;
  width: 450px;
  background-color: black;
  color: red;
  font-size: 30px;
  position: relative; 
}

.drum-pad {
  width: 200px;  
  height: 80px;  
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  margin: 5px;
  cursor: pointer;
  border-radius: 100%;
  font-size: 50px;
}
